{% extends 'base.html' %}

{% block content %}
    <div class="h-screen justify-center items-center flex bg-slate-50">
        <div class="bg-white p-6 rounded border-2 border-slate-500 w-[400px] -mt-8">
            <svg viewBox="0 0 24 24" class="text-green-600 w-16 h-16 mx-auto my-6">
                <path fill="currentColor"
                    d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
                </path>
            </svg>
            <div class="text-center">
                <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">Payment Done!</h3>
                <p class="text-gray-600 my-2">We appreciate your business! If you have any questions,<br> 
                    please email 
                    <a class="text-blue-500" href="mailto:orders@example.com">orders@example.com</a>.
                </p>
                <p> Have a great day!  </p>
                <div class="py-10 text-center">
                    <a href="{% url 'landing' %}" class="px-8 bg-gradient-to-r from-cyan-500 to-blue-500 hover:from-cyan-400 hover:to-blue-400 rounded text-white font-semibold py-3">
                        Test Again 
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}